Repository gamedaoco/gamedao-beta, pull requests merged in 2021-12, with the labels that each got.

#172 WIP: Proposals
  src/apps/Governance/Create.tsx
  src/apps/Governance/GovernancePage.tsx
  src/apps/Governance/modules/ProposalList.tsx
  src/apps/governanceProposalInfo/GovernanceProposalInfo.tsx
  src/apps/lib/data.ts
  src/context/Wallet.tsx
  src/hooks/useGameDaoControl.ts
Labels: Feature: Governance, Frontend

#178 🟢 sy/Campaigns - blockheight, data displays, countdown, sort campaigns by expirydate
  src/apps/Campaigns/Campaign.jsx
  src/apps/Campaigns/Create.jsx
  src/apps/Campaigns/index.jsx
  src/apps/lib/data.ts
  src/components/markdown/MarkdownEditor.css
Labels: Frontend

#213 🟢 Organisations Dashboard
  src/Router.tsx
  src/apps/Campaigns/CampaignCard.jsx
  src/apps/Campaigns/Create.jsx
  src/apps/DashboardUserConnected.tsx
  src/apps/Organisations/Create.jsx
  src/apps/Organisations/modules/Interactions.tsx
  src/apps/Organisations/modules/Item.tsx
  src/apps/OrganisationsDashboard/modules/campaigns.jsx
  src/apps/OrganisationsDashboard/modules/members.jsx
  src/apps/OrganisationsDashboard/modules/overview.jsx
  src/apps/OrganisationsDashboard/modules/tabHeader.jsx
  src/apps/OrganisationsDashboard/modules/votings.jsx
  src/apps/OrganisationsDashboard/organisationsDashboard.jsx
  src/apps/index.tsx
  src/components/ListItem.tsx
  src/components/TileItem.tsx
  src/hooks/useGameDaoControl.ts
  src/hooks/useIdentity.ts
  src/themes/minimal/palette.ts
Labels: Frontend, MOD Organization

#216 ✅ Sy/redirects / campaign
  src/apps/Campaigns/Campaign.jsx
  src/apps/Campaigns/Create.jsx
  src/apps/Campaigns/campaignForegrounds/foregroundContentMap.js
Labels: Frontend, MOD Campaign

#225 ✅🎅 sy/form_validation_persist
  package.json
  src/Router.tsx
  src/apps/Campaigns/Create.jsx
  src/apps/Campaigns/index.jsx
  src/apps/Organisations/Create.jsx
  src/components/FileDropZone.tsx
  src/components/Image16to9.jsx
  src/components/Loader.tsx
  src/components/Message.tsx
  src/components/index.ts
  src/components/markdown/MarkdownDefault.md
  src/components/markdown/MarkdownEditor.jsx
  src/hooks/useDebouncedEffect.ts
  yarn.lock
Labels: Frontend

#215 Create Proposals Defaults
  src/Router.tsx
  src/apps/Governance/Create.tsx
  src/apps/governanceProposalInfo/GovernanceProposalInfo.tsx
  src/apps/governanceProposalInfo/modules/ProposalBodyData.tsx
  src/apps/governanceProposalInfo/modules/ProposalMetadata.tsx
  src/apps/governanceProposalInfo/modules/ProposalVoteProgress.tsx
  src/hooks/useGameDaoGovernance.ts
Labels: enhancement, MOD Governance, Frontend

#234 Fixes #186 and #208
  src/apps/Organisations/Create.jsx
  src/components/AccountSelector.tsx
  src/context/Store.tsx
Labels: bug, ⚠️ high, MOD Governance, Frontend

#245 ✅ Bugfix and display proposal states
  src/apps/Governance/Create.tsx
  src/apps/Governance/modules/ProposalItem.tsx
  src/apps/lib/data.ts
  src/components/AccountSelector.tsx
  src/themes/minimal/palette.ts
Labels: bug, MOD Governance, Frontend, MOD Wallet

#239 Proposals - Detail Page
  src/apps/Governance/modules/ProposalItem.tsx
  src/apps/Governance/modules/ProposalList.tsx
  src/apps/governanceProposalInfo/GovernanceProposalInfo.tsx
  src/apps/governanceProposalInfo/modules/ProposalMetadata.tsx
  src/apps/governanceProposalInfo/modules/ProposalVoterList.tsx
  src/hooks/useGameDaoGovernance.ts
  src/redux/duck/gameDaoGovernance.duck.js
Labels: enhancement, MOD Governance, Frontend

#249 Fixed markdown editor z-index.
  src/components/markdown/MarkdownEditor.jsx
  src/mkEditor.css
Labels: bug, Frontend
