Repository gamedaoco/gamedao-beta, pull requests merged in 2022-01, with the labels that each got.

#257 Governance fix
  .gitignore
  src/apps/Governance/modules/Create.tsx
  src/apps/Governance/modules/ProposalItem.tsx
  src/apps/GovernanceInfo/index.tsx
  src/apps/GovernanceInfo/modules/ProposalBodyData.tsx
  src/apps/GovernanceInfo/modules/ProposalMetadata.tsx
Labels: bug, ⚠️ high, MOD Governance, Frontend

#259 Fix member state
  src/apps/GovernanceInfo/modules/ProposalMetadata.tsx
  src/apps/Organisations/modules/Interactions.tsx
  src/hooks/useGameDaoControl.ts
Labels: bug, MOD Governance, Frontend, MOD Organization

#265 Darknebular/campaign contribute fix
  src/apps/Campaigns/CampaignCard.jsx
  src/apps/Campaigns/Create.jsx
  src/apps/Organisations/Create.jsx
  src/components/AccountSelector.tsx
  src/context/Wallet.tsx
  src/utils/helper.ts
Labels: bug, enhancement, Frontend, MOD Campaign

#270 Add email and short description as required field
  src/apps/Organisations/Create.jsx
Labels: enhancement, Frontend, MOD Organization

#258 Proposal voter list
  src/apps/GovernanceInfo/index.tsx
  src/apps/GovernanceInfo/modules/ProposalVoterList.tsx
  src/hooks/useGameDaoGovernance.ts
Labels: enhancement, MOD Governance, Frontend

#280 Show campaign name in create proposal form
  src/apps/Governance/modules/Create.tsx
Labels: MOD Governance, Frontend

#287 ✅ sy/campaigns_remove_tabs_and_participate_button
  src/apps/Campaigns/Campaign.jsx
Labels: Frontend, beta

#279 ✅ Filtered proposal list by memberships
  src/apps/Campaigns/Campaign.jsx
  src/apps/Governance/index.tsx
  src/apps/Governance/modules/ProposalItem.tsx
  src/apps/Governance/modules/ProposalList.tsx
  src/hooks/useGameDaoGovernance.ts
  src/utils/normalizeNumber.ts
Labels: MOD Governance, Frontend

#292 Updated campaign when contributing to a campaign
  src/apps/Campaigns/CampaignCard.jsx
Labels: bug, Frontend, MOD Campaign

#291 feat(governance): allow campaign contributors to vote for a proposal of a campaign
  src/apps/Governance/modules/Create.tsx
  src/apps/Governance/modules/ProposalList.tsx
  src/apps/GovernanceInfo/modules/ProposalMetadata.tsx
  src/apps/Organisations/modules/Interactions.tsx
  src/hooks/useCrowdfunding.ts
Labels: bug, MOD Governance, Frontend, beta

#299 Filter create campaign org. select
  src/apps/Campaigns/Create.jsx
Labels: bug, Frontend
